COMMERCIAL;
RVL_ALIAS "aclk" "cpu1/clk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "arst" SITE "19" ;
LOCATE COMP "uart_i" SITE "110" ;
LOCATE COMP "uart_o" SITE "109" ;
LOCATE COMP "interrupt_i_pad_0" SITE "58" ;
LOCATE COMP "interrupt_i_pad_1" SITE "57" ;
LOCATE COMP "interrupt_i_pad_2" SITE "56" ;
LOCATE COMP "interrupt_i_pad_3" SITE "55" ;
LOCATE COMP "interrupt_i_pad_4" SITE "54" ;
LOCATE COMP "ioport_pad_7" SITE "37" ;
LOCATE COMP "ioport_pad_8" SITE "53" ;
LOCATE COMP "ioport_pad_9" SITE "52" ;
LOCATE COMP "ioport_pad_0" SITE "46" ;
LOCATE COMP "ioport_pad_1" SITE "45" ;
LOCATE COMP "ioport_pad_2" SITE "44" ;
LOCATE COMP "ioport_pad_3" SITE "43" ;
LOCATE COMP "ioport_pad_4" SITE "40" ;
LOCATE COMP "ioport_pad_5" SITE "39" ;
LOCATE COMP "ioport_pad_6" SITE "38" ;
LOCATE COMP "ioport_pad_10" SITE "50" ;
LOCATE COMP "aclk" SITE "21" ;
LOCATE COMP "ioport_pad_11" SITE "1" ;
LOCATE COMP "ioport_pad_12" SITE "2" ;
LOCATE COMP "ioport_pad_13" SITE "5" ;
LOCATE COMP "ioport_pad_14" SITE "6" ;
LOCATE COMP "ioport_pad_15" SITE "7" ;
FREQUENCY PORT "aclk" 50.000000 MHz ;
CLOCK_TO_OUT ALLPORTS 20.000000 ns CLKPORT "aclk" ;
BLOCK NET "arst_c" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
LOCATE COMP "acknowledge_o" SITE "29" ;
IOBUF PORT "interrupt_i[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "interrupt_i[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "interrupt_i[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "interrupt_i[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "interrupt_i[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

